// Colors
$color-background: #EFEFF2;
$color-primary: #007BFF;
$color-dark: #3B4553;
$color-light: #FFFFFF;
$color-error: red;

// Font
$font-size-default: 18px;

// Spacing
$margin: 20px;
$padding: 20px;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;

// Image path
$image-path: '../assets/images/';

// Retina image suffix
$image-suffix: '-2x';

// Font path
$font-path: '../assets/fonts';