body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F2F2F2;
    font-size: 18px;
    padding: 0 40px;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.07em;
}

button {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-width: 0px !important;
}

.link {
    font-weight: bold;
    color: #007bff;
}

.link {

    &:hover, &.active {
        cursor: pointer;
        text-decoration-line: underline;
    }

    margin: 0 5px;

}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration-line: none;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}