.table {

    font-family: sans-serif;
    min-width: 100%;

    th,
    td {
        padding: .25em .5em;
        text-align: left;
    }

    td {
        background-color: #eee;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

}