@import '../../../styles/mixins.module';

.wrapper {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .modal {

        padding: $spacing-large;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        background-color: $color-light;
        min-width: 20vw;
        min-height: 20vh;

        ul {

            li {

                cursor: pointer;

                &:hover {
                    text-decoration-line: underline;
                }

            }

        }

    }

}