@import '../../styles/variables.module';

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.section {

    margin-bottom: $spacing-medium;

    h2 {
        margin-bottom: $spacing-small;
    }

    ul {
        display: initial !important;
    }

    li {

        padding: 5px;
        text-decoration-line: none !important;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

        &:hover {
            background-color: $color-primary;
            color: $color-light;
        }

    }

}